.main{
    max-width: 600px;
    border-radius: 10px;
    border: 4px solid red;
    position: absolute;
    left: 20%;
    top: 20%;
    
}
.display{
    background-color: rgba(96, 226, 183, 0.823);
    height: 70px;
    text-align: right;
    padding: 20px 10px;
    font-size: 40px;
    color: white;
    border-bottom: 2px solid red;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 255, 0.808);
    cursor: pointer;
}
.btn{
    border: 2px solid gray;
    padding: 20px 10px 0px 10px;
    margin: 10px;
    text-align: center;
    border-radius:50%;
    font-weight: bold;
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: aquamarine;
}
.btn:hover{
    background-color: black;
    color:aqua;
    transition: .3s;
}
h1{
    color: blue;
    opacity: .5;
}

#clear{
    background-color: red;
}
#total{
    background-color: rgb(73, 193, 73);
}